body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#header {
    text-align: center;
    background-color: #000;
    padding: 0px 20px;
    position: relative;
}

.h-cont {
    justify-content: space-between;
}

.h-left {
    padding: 20px 0px;
}

.h-right1 ul li {
    /* height: 85px; */
    background-color: #111111;
}

.h-right1 ul li a {
    color: #ffff;
    display: inline-block;
    padding-top: 40px;
    /* width: 50px; */
    margin: 10px;
    height: 65px;
}

.h-right1 ul li:hover {
    background-color: #000;
}

.h-right1 ul li a:hover {
    text-decoration: none;
}

.h-menu ul li {
    /* height: 85px; */
    background-color: #111111;
}

.h-menu ul li a {
    color: #ffff;
    display: inline-block;
    padding-top: 40px;
    /* width: 50px; */
    margin: 10px;
    height: 65px;
}

.h-menu ul li:hover {
    background-color: #000;
}

.h-menu ul li a:hover {
    text-decoration: none;
}

.h-right2 button {
    outline: none;
    color: #fff;
    padding-top: 25px;
    text-decoration: none;
    border: none;
    background-color: #000;
    display: none;
}

.h-menu {
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0px;
    display: none;
    top: 100%;
}

#content {
    position: relative;
}

.video-c {
    width: 100%;
    justify-content: center;
    padding: 60px 0px;
    position: absolute;
    top: 0px;
}

.video-c1 {
    width: 45%;
    margin-right: 20px;
}

.video-c2 {
    width: 35%;
    padding-top: 30px;
}

.video-c2 img {
    width: 100%;
}

.video-c1 img {
    width: 100%;
    cursor: pointer;
}

.video-anim {
    transition: 1s;
    transform: translateY(100%);
    z-index: 5;
}

.video-anim1 {
    transition: 1s;
    transform: translateY(-100%);
    z-index: 5;
}

.video {
    width: 60%;
    height: 35%;
    z-index: 100;
    padding-top: 4%;
    display: none;
    top: -14%;
    left: 15%;
    position: absolute;
    justify-content: center;
}

.close {
    position: absolute;
    top: 40%;
    left: 100%;
    z-index: 6;
}

#player {
    width: 100%;
    height: 100%;
}

.content-1 {
    background-color: #000;
    color: #fff;
    padding: 5% 0px;
    width: 100%;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 10;
    top: 8%;
}

.content-1 img {
    width: 100%;
}

.content-2 {
    background-color: #fff;
    color: #000;
    padding: 6% 0px;
    width: 100%;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 10;
    top: 28%;
}

.content-3 {
    background-color: #000;
    color: #fff;
    padding: 6% 0px;
    width: 100%;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 10;
    top: 41%;
}

.content-4 {
    background-color: #000;
    color: #fff;
    padding: 5% 0px;
    width: 100%;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 10;
    top: 63%;
}

.content-5 {
    background-color: #fff;
    color: #000;
    padding: 5% 0px;
    width: 100%;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 10;
    top: 79%;
}

.content-5 img {
    width: 100%;
}

.content-6 {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    /* padding: 2% 0px; */
    width: 100%;
    text-align: center;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 10;
    top: 88.5%;
}

.content-6 img {
    /* width: 60%; */
}

.content-7 {
    background-color: #000;
    color: #fff;
    padding: 4% 0px;
    width: 100%;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: absolute;
    padding-bottom: 7%;
    z-index: 10;
    bottom: 0;
}

.content-5 ul {
    list-style: unset;
    padding-left: 20px;
}

.content-5 h4 {
    color: #787C7C;
    font-size: 29px;
    margin: 20px 0px;
}

.content-5 h3 {
    font-size: 50px;
    letter-spacing: 3px;
}

.content-3 img {
    width: 100%;
}

.content-3 h3 {
    font-size: 300%;
    margin-bottom: 4%;
}

.text-1-c {
    justify-content: center;
}

.text-c-1 {
    width: 48%;
    margin-right: 1%;
}

.footerhead {
    margin: 25px 0px;
    margin-left: -16px;
}

.footerhead h3 {
    font-size: 45px;
    letter-spacing: 4px;
}

.text-c-2 {
    padding-top: 10%;
}

.text-c-1 p {
    margin: 30px 0px;
}

.text-c-1 h3 {
    font-size: 350%;
}

.text-2-c {
    width: 100%;
}

.text-c-22 {
    width: 40%;
}

.text-c-22 h3 {
    font-size: 280%;
    margin-bottom: 30px;
    margin-right: 30px;
    font-family: "ApexSans-Book", "Apex Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.text-c-22 img {
    width: 100%;
}

.pad12 {
    margin-top: 30px;
}

.text-2-c img {
    width: 100%;
}

.footer {
    font-size: 13px;
    justify-content: space-between;
}

.footer a {
    color: #2795B6;
}

.video-back {
    background: url("../images/bg_2.jpg") 100% -20px repeat fixed;
    display: block;
    width: 100%;
    height: 1500px;
}

.fb-bell {
    background: url("../images/FB_Bells.jpg") 100% -20px repeat fixed;
    display: block;
    width: 100%;
    height: 1000px;
}

.fb-clock {
    background: url("../images/FB_Clock.jpg") fixed;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1500px;
}

.mima {
    background: url("../images/FB_MIMA2.jpg") fixed;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

.dmi {
    background: url("../images/FB_DMI.jpg") fixed;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1100px;
}

.mima1234 {
    background: url("../images/FB_MIMA.jpg") fixed;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

/* ----------------------------Media queries-------------------------------------- */

@media(max-width: 810px) {
    .text-c-22 h3 {
        font-size: 200%;
    }
    .h-right1 {
        display: none;
    }
    .h-right2 button {
        display: initial;
    }
    .content-1 {
        top: 6%;
    }
    .content-2 {
        top: 30%;
    }
    .content-3 {
        top: 47.5%;
    }
    .content-4 {
        top: 65%;
    }
    .content-5 {
        top: 85%;
    }
    .content-6 {
        top: 95%;
    }
    .content-7 {
        top: 100%;
    }
}